body {
  margin: 0;
  border: 0px solid black;
  /* padding: 0;
  font-family: sans-serif; */
  background-color: whitesmoke;
}

.header{
  height: 100px;
  width: 100%;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 78%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 180;
  font-size: 15px;
  color: #333333;
}

input[type=checbox]{
  margin-right: 10px;
}

.todo-list{
  background-color: white;
  margin: auto;
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.box-wrapper{
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px;
  margin: 1%;
  width: 100%;
  overflow: hidden;
}

.container{
  border: 1px solid black;
  border-radius: 20px;
  padding: 2%;
  overflow: hidden;
  margin-top: 2%;
}

.component-title{
  color: #333;
  border-bottom: 1px solid #333;
}

section { 
      border:0px solid black;
      border-radius: 10px;
      overflow:hidden; 
  }
section > section { 
  float: left; 
  margin-left: 0px;
  padding-left:20px;
  border-left: 0px solid black;
  border-radius: 0px;
  width:45%;
}
.indent-1 { 
  padding-left:2px;
}

.side-by-side{
  float: left;
}

.cell-sm{
  width:20%;
}

.cell-md{
  width: 50%;
}

.cell-big{
  width: 100%;
}

.label{
  font-weight: bold;
  font-size: 32px;
  color: #CA0E28;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}