*{
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0px solid black;
  /* padding: 0;
  font-family: sans-serif; */
  background-color: whitesmoke;
  overflow: scroll; 
  /* overflow: scroll -  This is brillant property to avoid page repositioning due to scroll bar */
}

.header{
  height: 150px;
  width: 100%;
  background-color: #333;
  border: 0px solid pink;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  display:block;
  justify-content: center;
  align-items: center;
  padding: 1%;
  line-height: 25px;
  overflow: hidden;
  margin-bottom: 0.8%;
}

.header > p{
  border: 0px solid green;
}

#logo{
  display: flex;
  opacity: 0.6;
  width: 140px;
  height: 100px;
  float: left;
  border: 0px solid red;
}

.todo-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 78%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 180;
  font-size: 15px;
  color: #333333;
}

input[type=checbox]{
  margin-right: 10px;
}

.todo-list{
  background-color: white;
  margin: auto;
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.box-wrapper{
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px;
  margin: 1%;
  width: 100%;
  overflow: hidden;
}

.container{
  border: 1px solid black;
  border-radius: 20px;
  padding: 2%;
  overflow: hidden;
  margin-top: 2%;
  height: auto;
}

.component-title{
  color: #333;
  border-bottom: 1px solid #333;
}

section { 
      border:0px solid black;
      border-radius: 10px;
      overflow:hidden; 
  }
section > section { 
  float: left; 
  margin-left: 0px;
  padding-left:20px;
  border-left: 0px solid black;
  border-radius: 0px;
  width:45%;
}
.indent-1 { 
  padding-left:2px;
}

.side-by-side{
  float: left;
}

.cell-sm{
  width:20%;
}
footer{
  position: absolute;
  padding: 1%;
  /* left: 0;
  bottom: 0; */
  margin-top: 2%;
  overflow: hidden;
  width: 100%;
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
  height: 50px;
  overflow: hidden;
}

.cell-md{
  width: 50%;
}

.cell-big{
  width: 100%;
}

.label{
  font-weight: bold;
  font-size: 32px;
  color: #CA0E28;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* *********************** capstone project css ****************************** */

.capstone-body{
  margin: 0;
  background-color: whitesmoke;
  overflow: hidden;
}
.capstone-header{
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441A5;
  background: -webkit-linear-gradient(to right,#2a0845,#6441A5);
  background: linear-gradient(to right,#2a0845,#6441A5);
}

.capstone-header > img{
  height: 80%;
  margin-left: 10%;
}

.capstone-header >p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.capstone-meme{
  position: relative;
  width: 90%;
  margin: auto;
}

.capstone-meme > img{
  width: 20%;
  margin-left:40%;
}

.capstone-meme > h2{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 10%;
  transform: translateY(-50%);
  margin: 25px 0 -10px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.capstone-meme > .bottom{
  bottom: 0;
}

.capstone-meme > .top{
  top: 0;
}

.capstone-meme-form{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.capstone-meme-form > input{
  width: 45%;
  height: 40px;
}

.capstone-meme-form > button{
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441A5;
  height: 40px;
  margin-top: 2%;
}

.capstone-meme-form > input::-webkit-input-placeholder{
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}

.capstone-meme-form > input::-moz-placeholder{
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}

.capstone-meme-form > input::-ms-input-placeholder{
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}

.capstone-meme-form > input::-moz-placeholder{
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}

/* ************************ navbar css ********************** */

.nav-bar > ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none!important;
  color: whitesmoke;
}

.nav-bar > ul  li:hover {
  background-color: whitesmoke;
  color: #333;
}

.nav-bar > ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin-top: -14.5px;
}